<h4>
  <% if (params[:from_date] && params[:to_date] == "") %>
    All <%= current_user.full_name %>'s working hours 
  <% else %>
    <%= current_user.full_name.capitalize %>'s working hours between<br /><br />
    <b><%= Date.civil(params[:from_date][:year].to_i, params[:from_date][:month].to_i, params[:from_date][:day].to_i).to_s(:long) %></b> 
    and <b><%= Date.civil(params[:to_date][:year].to_i, params[:to_date][:month].to_i, params[:to_date][:day].to_i).to_s(:long) %></b>
  <% end %>
</h3>



<table>
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Duration</th>
  </tr>

  <% @summary_hours.each do |activity|%>
    <tr>   
      <td><%= activity.entry_date.to_s(:long) %></td>
      <td><%= activity.start_time %></td> 
      <td><%= activity.end_time %></td>
      <td><%= Activity.duration(activity.start_time, activity.end_time) %></td>
      <td><font color="green">Approved by Dan North</font></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add new working hours", new_activity_path %>
