<h1><%= current_user.full_name %>'s working hours</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Duration</th>
  </tr>

  <tr>    
    <td><%= @user_activities.entry_date.to_s(:long) %></td>
    <td><%= @user_activities.start_time %></td> 
    <td><%= @user_activities.end_time %></td>
    <td><%= Activity.duration(@user_activities.start_time, @user_activities.end_time) %></td>
  </tr>
</table>

<%= link_to 'View working times', :controller => 'activities', :action => 'index' %>

